@import '../../colors.scss';
@import '../../App.scss';


.funkoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; // Para espaciar los divs de manera uniforme
  margin: 20px;
}

.div-funkos {
  background-color: $primary-dark;
  border-radius: 20px;
  box-shadow: $shadow-light 0 4px 6px -1px, $shadow-dark 0 2px 4px -1px;
  color: $text-light;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 20px;
  margin: 10px;
  transition: all 250ms;
  text-align: center;
  flex: 1 1 calc(25% - 20px); // Ajustar el ancho a 25% menos el margen
  box-sizing: border-box;
}