@import '../../colors.scss';
@import '../../App.scss';




.header {
  background-color: #ffffff; 
  color: #ffffff; 
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  padding: 10px 20px;
}


.header .nav-link {
  color:#26a572; 
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px; 
  transition: color 250ms;
}

.header .nav-link:hover {
  color: #f0f0f0;
}

/* Logout button styles */
.header .logout-button {
  background: none;
  border: none;
  color: #053726; 
  cursor: pointer;
  font-size: 16px;
  margin-left: auto; 
  transition: color 250ms;

.header .logout-button:hover {
  color: #f0f0f0; 
}
}