@import '../../colors.scss';
@import '../../App.scss';


/* Footer styles */
.footer {
  position: fixed; /* Fija la posición del footer */
  bottom: 0; /* Lo posiciona al fondo de la ventana */
  left: 0; /* Alinea el footer a la izquierda */
  width: 100%; /* Asegura que el footer ocupe todo el ancho de la ventana */
  background-color: #000000; /* Color de fondo negro */
  color: #ffffff; /* Texto blanco */
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px 20px;
}

/* Navigation link styles */
.footer .nav-link {
  color: #05ec81; /* Color del texto blanco para los enlaces */
  text-decoration: none;
  margin-right: 10px; /* Espacio entre los enlaces */
  transition: color 250ms;
}

.footer .nav-link:hover {
  color: #f0f0f0; /* Cambio de color al pasar el ratón por encima */
}
