// Primary Colors
$primary-light: #c2fbd7; 
$primary-dark: #96d996;  

// Secondary Colors
$secondary-light: #e6fff0; 
$secondary-dark: #005700; 

// Accent Colors
$accent-light: #b8e994; 
$accent-dark: #1b5e20;  

// Text Colors
$text-light: #ffffff; 
$text-dark: #000000;  

// Shadows
$shadow-light: rgba(44, 187, 99, .2);  
$shadow-dark: rgba(44, 187, 99, .15);  

