// Primary Colors
$primary-light: #c2fbd7; // Light green for buttons
$primary-dark: #96d996;  // Dark green for div background

// Secondary Colors
$secondary-light: #e6fff0; // Very light green for secondary backgrounds
$secondary-dark: #005700;  // Darker green for contrast elements

// Accent Colors
$accent-light: #b8e994; // Light accent color
$accent-dark: #1b5e20;  // Dark accent color

// Text Colors
$text-light: #ffffff; // White for text on dark backgrounds
$text-dark: #000000;  // Black for text on light backgrounds

// Shadows
$shadow-light: rgba(44, 187, 99, .2);  // Light green shadow
$shadow-dark: rgba(44, 187, 99, .15);  // Dark green shadow

